<h1 class="text-3xl font-bold mb-8">Sign In</h1>

<%= form_with(model: @user) do |form| %>
    <% @user.errors.full_messages.each do |message| %>
        <div class="mb-4 text-red-700">
            <%= message %>
        </div>
    <% end %>
    
    <%= render "authentication/form", form: form %>

    <div class="flex justify-center">
        <%= form.submit "Register", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
<% end %>

<div class="mt-4">
    <p> Already have an account? <%= link_to "Log In", new_session_path, class: "text-blue-500 hover:text-blue-700 underline font-bold" %></p>
</div>
