<!DOCTYPE html>
<html>
  <head>
    <title>SSCatFacts</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "menu-toggle" %>
    <%= javascript_include_tag "disable_turbo_links" %>
  </head>

  <body  class="flex flex-col min-h-screen bg-blue-900">

    <header>
      <%= render 'layouts/navbar' %>
    </header>

    <main class="flex-grow flex items-center justify-center">
      <div class="flex flex-col items-center justify-center bg-white p-10 rounded-lg shadow-lg shadow-black max-w-xl mt-24 mb-6 mx-4">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
